body{font-family: 'Poppins', sans-serif;
font-size: 22px;
margin: 0;}
.colorful{color: orange;}
.abcd{color: black;}
.pic-added{width: 300px;
height: 400px;}
section{
    display: flex;
}
.half{width: 50%;}
.half img{ width: 80%;
height: 100%;}
.half{padding-left: 10% ;}
.link-button{color:black;
background-color: orange;
text-decoration: none;
padding:4px 6px;
font-weight: 700px;}
.top-banner{ 
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;}