body{font-family: 'Poppins', sans-serif;
font-size: 22px;
margin: 0;}
.colorful{color: orange;}
.abcd{color: black;}
.pic-added{width: 300px;
height: 400px;}
.flaxible-container{
    display: flex;
    margin-bottom: 100px;
}
.half{width: 50%;}
.half img{ width: 80%;
height: 100%;}
.half{padding-left: 10% ;}
.link-button{color:black;
background-color: orange;
text-decoration: none;
padding:4px 6px;
font-weight: 700px;}
.top-banner{ 
    background-image: url(images/top-banner.png);
background-repeat: no-repeat;}
.image-edit{width: 20%;
height: 35%;
margin: 50px;}
.second{padding-right: 100px;
margin-left: 100px;}
.big-dreem{background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position:right ;}
.experience-area{background-image: url(images/exp-bg.png);
background-repeat: no-repeat;}
.shado{
    box-shadow: 10px 10px 40px yellowgreen;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 10px;
    border-left: 5px solid blue;
}
#border-color{border-left: 5px solid green;}
footer p {text-align: center;
font-size: 12px;}